<div class="page-header">
  <%= link_to '<button class="nav nav-pills pull-right btn btn-primary" style="margin-left:10px;">Voir le type</button>'.html_safe, @ticket_type %>
  <%= link_to '<button class="nav nav-pills pull-right btn btn-primary">Liste des types</button>'.html_safe, ticket_types_path %>
  <h1>Edit</h1>
</div>

<%= render 'form' %>
