<div class="page-header">
  <%= link_to '<button class="nav nav-pills pull-right btn btn-primary">Liste des types de ticket</button>'.html_safe, ticket_types_path %>
  <h1>New ticket type</h1>
</div>

<%= render 'form' %>
