<div class="page-header">
  <%= link_to '<button class="nav nav-pills pull-right btn btn-primary">Ajouter un ticket</button>'.html_safe, new_ticket_path %>
  <h1>Listing tickets</h1>
</div>

<div ng-controller="TicketListCtrl">
  <div class="well">
      <table class="table table-striped">
        <tr>
          <th>Title</th>
          <th class="hidden-phone">Description</th>
          <th>Ticket states</th>
          <th class="hidden-phone">Type</th>
          <th>Priority</th>
          <th class="hidden-phone">Percent</th>
          <th class="hidden-phone">Project</th>
          <th>User</th>
          <th colspan="3">Actions</th>
        </tr>

        <tr ng-repeat="ticket in displayed_tickets | filter:query | orderBy:orderProp">
          <td>{{ticket.title}}</td>
          <td class="hidden-phone">{{ticket.description}}</td>
          <td>{{ticket.ticket_state.name}}</td>
          <td class="hidden-phone">{{ticket.ticket_type.name}}</td>
          <td>{{ticket.ticket_priority.name}}</td>
          <td class="hidden-phone">{{ticket.percent}} %</td>
          <td class="hidden-phone">{{ticket.project.title}}</td>
          <td>{{display_user(ticket.user.firstname,ticket.user.lastname)}}</td>
          <td><a href='tickets/{{ticket.id}}' rel="tooltip" title="Voir le ticket"><i class="icon-eye-open"></i></a></td>
          <td><a href='tickets/{{ticket.id}}/edit' rel="tooltip" title="Editer le ticket"><i class="icon-pencil"></i></a></td>
          <td><a href='tickets/{{ticket.id}}' rel="tooltip" title="Supprimer le ticket" data-method="delete"><i class="icon-remove"></i></a></td>
        </tr>
      </table>
  </div>

  <div class="pagination">
    <ul ng-repeat="page_number in pages" ng-class="{active:page_number==current_page_number}">
      <li><a href="#" ng-click="changePage(page_number)">{{page_number}}</a></li>
    </ul>
  </div>

</div>
