<div class="page-header">
  <%= link_to "<button class=\"nav nav-pills pull-right btn btn-primary\">#{I18n.t(:'ticket.index.btn')}</button>".html_safe, tickets_path %>
  <h1><%= I18n.t(:'ticket.new.title') %></h1>
</div>

<%= render 'form' %>
