<div class="page-header">
  <%= link_to '<button class="nav nav-pills pull-right btn btn-primary">Liste des projets</button>'.html_safe, projects_path %>
  <h1>New project</h1>
</div>

<%= render 'form' %>
