<div class="page-header">
  <%= link_to "<button class=\"nav nav-pills pull-right btn btn-primary\">#{I18n.t(:'project.index.btn')}</button>".html_safe, projects_path %>
  <h1><%= I18n.t(:'project.new.title') %></h1>
</div>

<%= render 'form' %>
